<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="garagee" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=garage_gestion.garagee;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="dbGarage" connectionString="metadata=res://*/DbGarage.csdl|res://*/DbGarage.ssdl|res://*/DbGarage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-O7DEG44\SQLEXPRESS;initial catalog=Garage;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>